html,body{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
}

.c{
    font-family: 'Indie Flower', cursive;  color: #746554;
}

.margin{
    margin-left: 5%;
    margin-right: 5%;
}
#shadow{
    text-shadow: 4px 2px 2px gray;
}
#left-half{
    float: left;
    width: 49%;
}

#right-half{
    float: right;
    width: 49%;
}

#digitalClock{
    font-size: 150px;
    color:      rgb(0, 19, 26);
    text-align: center;
    font-family: 'Istok Web', sans-serif;
}
#clock{
     border:1px solid rgb(200,200,200);
     border-radius: 5px;
}

#board
{
        margin: 0 auto;
        background-image: url("/static/images/board.jpg");
        background-repeat: no-repeat;
        background-position: center-top;
        background-size: contain;
        height: 768px;
        position: relative;
        width: 768px;
}

