#digitalClock{
    font-size: 150px;
    color:      rgb(0, 19, 26);
    text-align: center;
    font-family: 'Istok Web', sans-serif;
}
#clock{
     border:1px solid rgb(200,200,200);
     border-radius: 5px;
}

#board
{
        margin: 0 auto;
        background-image: url("/static/images/board.jpg");
        background-repeat: no-repeat;
        background-position: center-top;
        background-size: contain;
        height: 768px;
        position: relative;
        width: 768px;
}
