<audio autoplay loops>
    <source src="https://t1.daumcdn.net/cfile/tistory/23663547585652B116?original.wav" type="audio/wav">
</audio>
<h2 class="left-half">
  Black player <br/> 
  status: {{ c3.player1_status }} <br/>
  time: {{ c4.black_timer }}
</h2>

<h2 class="right-half">
  White player <br/>
  status: {{ c3.player2_status }} <br/>
  time: {{ c4.white_timer }}
</h2>

<div style="text-align:center">
  <h1>
    result {{ c1.result }}
  </h1>
  <h2>
    now turn {{ turn_color }}
  </h2>
</div>

<br/>
<div style = "text-align:center">
<body>
    <canvas id="board" width=768px height=768px></canvas>
</body>
</div>
