<audio autoplay loops>
    <source src="https://t1.daumcdn.net/cfile/tistory/23663547585652B116?original.wav" type="audio/wav">
</audio>

<link href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet">

<div id="c">
  <h5 class="left-half" id="margin">
    Black player <br/> 
    status: {{ c3.player1_status }} <br/>
    time: {{ c4.black_timer }}
  </h5>

  <h5 class="right-half" id="margin">
    White player <br/>
    status: {{ c3.player2_status }} <br/>
    time: {{ c4.white_timer }}
  </h5>

  <div style="text-align:center">
    <h3 style="color:red">
      {{ c1.result }}
    </h3>
    <h4>
      now turn <div class="shadow"> {{ turn_color }} </div>
    </h4>
  </div>
</div>

<br/>
<div style = "text-align:center">
<body>
    <canvas id="board" width=768px height=768px></canvas>
</body>
</div>
