<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<style>
  html,body, .grid{
    width: 95%;
    height: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .grid{
    background-image: repeating-linear-gradient(0deg,transparent,transparent 50px,#E2C099 50px,#E2C099 51px),repeating-linear-gradient(-90deg,transparent,transparent 50px,#E2C099 50px,#E2C099 51px);
    background-size: 51px 51px;
  }
  #c{
    font-family: 'Indie Flower', cursive; font-size: 65px; color: #746554;
  }
  .title {
    padding: 10px;
    text-align: center;
    position: relative;
  }
</style>

<div class="grid">
    <div class="title" id="c">Player API</div>
</div>

