{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load static %}

{% load material_form %}

<a href="{% url 'home'%}">Home</a>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Player Form</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
<body>
<h3>Player information</h3>
<form action="/double/" method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn">Submit</button>
</form>
</body>
</html>
