{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load static %}

{% load material_form %}


<!doctype html>
<html lang="en">
  <head>
    <style>
      #header{
        height: 6%;
        background-color: #DAC9AA;
        color: white;
        font-size: 30px;
        padding: 10px;
        text-indent: 40px;
      }
      #margin{
          margin-left: 5%;
          margin-right: 50%;
      }
    </style>
    <meta charset="utf-8">
    <title>Player Form</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
<body>
<div id="header">
   World of Connect6
</div> 
<form action="/double/" id="margin" method="post">
    <h2>Player Information</h2>
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn">Submit</button>
</form>
</body>
</html>
