{% load static %}<!doctype html>
<a href="/guide/{{room_name}}/">이전으로</a>
<p><a href="{% url 'home' %}">홈으로</a></p>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Double Room</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<style>
.left-half {
  float: left;
}
.right-half {
  float: right;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.dot1 {
  height: 50px;
  width: 50px;
  background-color: {{P1_color}} ;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
}
.dot2 {
  height: 50px;
  width: 50px;
  background-color: {{P2_color}};
  border-radius: 50%;
  border-style: solid;
  display: inline-block;
}
</style>

<body>

<div class="left-half">
  <span class="dot1"></span> {{P1}}
</div>

<div class="row">
  <div class="right-half">
    <span class="dot2"></span> {{P2}}
  </div>
</div>

  <app-root></app-root>
  <script type="text/javascript" src="{% static 'runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>


