{% load i18n static %}
{% load material_form %}

<link href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet">

<style>
  html,body, .grid{
    width: 95%;
    height: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #28364B;
  }
  .grid{
    background-image: repeating-linear-gradient(0deg,transparent,transparent 50px,rgba(255,255,255,0.2) 50px, rgba(255,255,255,0.2) 51px),repeating-linear-gradient(-90deg,transparent,transparent 50px,rgba(255,255,255,0.2) 50px,rgba(255,255,255,0.2) 51px);
    background-size: 51px 51px;
  }
  #c{
    font-family: 'Sunflower', sans-serif; color: white;
  }
  .center {
    text-align: center;
  }
  .title {
    font-size: 65px;
    padding: 5px;
    position: relative;
  }
  .subtitle {
    text-align: center;
    position: relative;
    font-size: 30px;
  }
  .space:after, .list:after {
    content: " ";
    display: block;
    clear: both;
  }
  .link {
    margin-top: 5%;
  }
  .game {
    margin-top: 5%;
  }
  #right {
    position: relative;
  }
  .example_e {
    border: none;
    background: white;
    color: black !important;
    font-weight: 100;
    font-size: 15px;
    padding: 4px 15px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 15px;
  }
  .example_f {
   border-radius: 4px;
   background: linear-gradient(to right, #455266, #092D66);
   border: none;
   color: white;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   padding: 34px 40px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 10px;
 }
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }
</style>
<div class="grid">
  <div class="center">
    <div id="c">
      <br/><div class="title">World of Connect6</div>
      <div class="subtitle"> 한동대 AI 육목 콘테스트 대국 서버</div>
    </div><!--.title-->
    <p><div class="link">
      <input type="button" id="c" class="example_e" onclick="location.href='{% url 'rule' %}'" target="_blank" rel="nofollow" value="게임 규칙"><span>  
      <br/><input type="button" id="c" class="example_e" onclick="location.href='{% url 'api' %}'" target="_blank" rel="nofollow" value="플레이어 API"><span>
      <br/><input type="button" id="c" class="example_e" onclick="location.href='{% url 'api_example' %}'" target="_blank" rel="nofollow" value="플레이어 코드 예제"><span>
    </div></p><!--.link-->
    <br/><div class="game">
      <a id="c" class="example_f" onclick="location.href='{% url 'single' %}'" target="_blank" rel="nofollow"><span>서버 AI와 대국</a>
      <a id="c" class="example_f" onclick="location.href='{% url 'double' %}'" target="_blank" rel="nofollow"><span>대국 시작</a>
      <a id="c" class="example_f" onclick="location.href='{% url 'watch' %}'" target="_blank" rel="nofollow"><span>대국 관전</a>
    </div><!--.game-->
  </div>
</div>
