{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load i18n static %}
{% load material_form %}
<audio autoplay loops>
    <source src="/media/home.mp3" type="audio/mp3">
</audio>
<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">

<style>
  .c{font-family: 'Gugi', cursive; font-size: 70px}
  #tab {
    margin:50;
  }
  #title {
    position: relative;
  }
  #right {
    margin: 10px;
    position: relative;
  }
</style>

<div id="title">
   <p><center><h2 class="c">{% block page_title %}World of Connect6{% endblock %}</h2></center></p>
</div>

<div id="tab">
  </form>
    <p><center><button type="submit" class="btn" onclick="location.href='{% url 'single' %}'"/>one-player game</center></p>
    <p><center><button type="submit" class="btn" onclick="location.href='{% url 'double' %}'"/>double game</center></p>
    <p><center><button type="submit" class="btn" onclick="location.href='{% url 'watch' %}'"/>watching game</center></p>
  </form>
</div>
