{% load i18n static %}
{% load material_form %}

<audio autoplay loops>
    <source src="/media/home.mp3" type="audio/mp3">
</audio>

<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<style>
  html,body, .grid{
    width: 95%;
    height: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .grid{
    background-image: repeating-linear-gradient(0deg,transparent,transparent 50px,#E2C099 50px,#E2C099 51px),repeating-linear-gradient(-90deg,transparent,transparent 50px,#E2C099 50px,#E2C099 51px);
    background-size: 51px 51px;
  }
  #c{
    font-family: 'Indie Flower', cursive; font-size: 65px; color: #746554;
  }
  .title {
    padding: 10px;
    text-align: center;
    position: relative;
  }
  .subtitle {
    text-align: center;
    position: relative;
    font-size: 20px;
  }
  .link {
    padding: 10px;
    text-align: center;
  }
  .one {
    float: center;
  }
  .double {
    float: center;
  }
  .watch {
    float: center;
  }
  .first:after, .list:after {
    content: " ";
    display: block;
    clear: both;
  }
  #right {
    position: relative;
  }
  .example_f {
   background: white;
   border: none;
   color: #9D8F7F;
   text-align: center;
   text-transform: uppercase;
   font-size: 25px;
   padding: 10px;
   transition: all 0.4s;
   cursor: pointer;
 }
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }
</style>
<div class="grid">
    <div class="first" id="c">
      <div class="title">World of Connect6</div>
      <div class="subtitle"> 한동대 AI 육목 콘테스트 대국 서버</div>
    </div><!--.first-->
    <p><div class="link">
      <input type="button" onclick="window.location.href='{% url 'rule'%}'" style="color: black" value="게임 규칙"/>
      <input type="button" onclick="window.location.href='{% url 'api'%}'" style="color: black" value="ABOUT PLAYER API"/>
      <input type="button" onclick="window.location.href='{% url 'api_example'%}'" style="color: black" value="PLAYER API CODE EXAMPLE"/>
    </div></p>
    <br style="line-height:50px;"/><div class="second" id="c">
      <div class="one" align="center"><a class="example_f" onclick="location.href='{% url 'single' %}'" target="_blank" rel="nofollow"><span>one-player game</a></div>
      <br style="line-height:10px;"/><div class="double" align="center"><a class="example_f" onclick="location.href='{% url 'double' %}'" target="_blank" rel="nofollow"><span>double game</a></div>
      <br style="line-height:10px;"/><div class="watch" align="center"><a class="example_f" onclick="location.href='{% url 'watch' %}'" target="_blank" rel="nofollow"><span>watching game</a></div>
    </div>
