{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<!doctype html>
<html lang="en">
  <head>
    <style>
      #header{
        height: 6%;
        background-color: #DAC9AA;
        color: white;
        font-size: 30px;
        padding: 10px;
        text-indent: 40px;
      }
      #margin{
          margin-left: 5%;
          margin-right: 50%;
      }
    </style>
    <meta charset="utf-8">
    <title>Player Form</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
<body>
<div id="header">
 World of Connect6
</div>
<form id="margin">
    <h2> Search Room </h2>
    <label> enter room name: </label>
    <input id="room-name-input" type="text" size="50"/><br/>
    <button type="submit" class="btn" id="room-name-submit">Enter</button>
</form>
<script>
   document.querySelector('#room-name-submit').onclick = function(e) {
     var roomName = document.querySelector('#room-name-input').value;
     window.location.pathname = '/double_game/'+ roomName;
    };
 </script>
